
body {
  background-color:lightyellow;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
}

h1 {
  color: darkblue;
  font-size: 30px;
  tetx-decoration: underline;
}

span p {
  color: darkgreen;
}

li {
  color: darkgreen;
}

div table {
  color: darkgreen;
}

a:hover {
  font-size: 20px;
}

a:visited {
  color: blue;
}

a:link {
  color: blue;
}

.colorteal {
  color: teal;
}

.lightblue {
  background-color: lightblue;
}

.darkblue {
  color: darkblue;
}

#indextitle {
  font-size: 40px;
}

#listitalicized {
  font-style: italic;
}

#tabletitle {
  font-style: bold;
}

footer * {
  color:darkblue;
}

span img {
  border: 1px solid;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  color: black;
  margin: 15px;
  padding: 10px;
}
