
body {
  background-color:lightyellow;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
}

h1 {
  color: darkblue;
  font-size: 30px;
}

p {
  color: darkgreen;
}


li {
  color: darkgreen;
}

div {
  color: darkgreen;
}

a:hover {
  font-size: 20px;
}



.colorteal {
  color: teal;
}

.lightblue {
  background-color: lightblue;
}

.darkblue {
  color: darkblue;
}

#indextitle {
  font-size: 40px;
}

#titleitalicized {
  font-style: italic;
}
